In [1]:
import pandas as pd
df1 = pd.read_csv('weather_data.csv')
df1

In [3]:
df2 = pd.read_excel('weather_data.xlsx','Sheet1')
df2

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

In [5]:
weather_data = {
    'day':['2017-01-01','2017-01-02','2017-01-03'],
    'temperature':['32','35','28'],
    'windspeed':['6','7','2'],
    'event': ['Rain','Sunny','Snow']
}
df3 = pd.DataFrame(weather_data)
df3

          day temperature windspeed  event
0  2017-01-01          32         6   Rain
1  2017-01-02          35         7  Sunny
2  2017-01-03          28         2   Snow

In [6]:
weather_data = [
    ('2017-01-01',32,6,'Rain'),
    ('2017-01-02',35,7,'Sunny'),
    ('2017-01-03',28,2,'Snow'),
]
df4 = pd.DataFrame(weather_data, columns = ['day','temperature','windspeed','event'])
df4

          day  temperature  windspeed  event
0  2017-01-01           32          6   Rain
1  2017-01-02           35          7  Sunny
2  2017-01-03           28          2   Snow

In [7]:
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    
]
df5 = pd.DataFrame(data=weather_data, columns=['day','temperature','windspeed','event'])
df5

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow